:root{
    font-family: 'Open Sans', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*Stili header*/
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.col li{
    display: inline-block;
    margin: 10px 10px 0 10px;
    vertical-align: middle;
}
header a{
    color: black;
    text-decoration: none;
}

#logoSmall{
    vertical-align: middle;
}

.blueButton{
    background-color: rgb(0, 110, 255);
    color: white;
    border: 0px;
    padding: 10px 15px;
}




/*Stile Jumbotron*/

#jumbo{
    width: 100%;
    background-color: #cce6ff;
}

#jumbo h1{
    font-size: 60px;
}

#jumbo .row{
    width: 50%;
    margin: 10px auto; 
}

#jumbo .textCol{
    width: 50%;
}

#jumbo .fa-arrow-down{
    font-size: 40px;
    margin-top: 40%;
}

#jumbo .blueButton{
    margin: 30px auto;
}

#jumboImg{
    width: 100%;
    margin-bottom: -100px;
}




/*Stili sezione carte*/

#businessPlan{
    text-align: start;
    margin: 150px auto 0px auto;
    width: 40%;

}
#businessPlan h2{
    font-size: 40px
}

#businessPlan span{
    margin: 30px 30px 30px 0;
    display: inline-block;
}

#cards .row{
    justify-content: center;
    gap: 50px;
    /*DEBUG*/
    border: 2px dashed black;
}

.colCard{
    width: 12%;
    
    line-height: 50px;
}
.cost{
    font-weight: bold;
}
.bill{
    color: grey;
}
.colCard li{
    list-style-type: none;
    line-height: 20px;
    margin: 30px auto;
}
.card{
    border: 1px solid lightgray;
    padding: 20px 30px;
}
.cardTop{
    text-align: center;
    border-bottom: 0;
    padding: 5px 0;
}

.cardMain{
    
}

.colCard hr{
    width: 20%;
    background-color: lightgray;
}

