:root{
    font-family: 'Open Sans', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*Stili header*/
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.col li{
    display: inline-block;
    margin: 0px 10px;
    vertical-align: middle;
}
a{
    color: black;
    text-decoration: none;
}

#logoSmall{
    vertical-align: middle;
}

.blueButton{
    background-color: rgb(0, 110, 255);
    color: white;
    border: 0px;
    padding: 10px 15px;
}

/*Stile Jumbotron*/

#jumbo{
    width: 100%;
    background-color: #cce6ff;
}

#jumbo h1{
    font-size: 60px;
}

#jumbo .row{
    width: 50%;
    margin: 10px auto; 
}

#jumbo .textCol{
    width: 50%;
}

#jumbo .fa-arrow-down{
    font-size: 40px;
    margin-top: 40%;
}

#jumbo .blueButton{
    margin: 30px auto;
}

#jumboImg{
    width: 100%;
    margin-bottom: -100px;
}